# Laravel / PHP
/ecobank-api/vendor/
/ecobank-api/.env
/ecobank-api/.env.backup
/ecobank-api/.env.production
/ecobank-api/auth.json

# Node / frontend
/ecobank-api/node_modules/
/ecobank-api/public/build
/ecobank-api/public/hot

# Storage / cache / logs
/ecobank-api/public/storage
/ecobank-api/storage/*.key
/ecobank-api/storage/logs/*.log
/ecobank-api/storage/pail
/ecobank-api/bootstrap/cache/*.php

# Tests
/ecobank-api/.phpunit.result.cache
/ecobank-api/.phpunit.cache

# IDE / éditeurs
/ecobank-api/.fleet
/ecobank-api/.idea
/ecobank-api/.nova
/ecobank-api/.vscode
/ecobank-api/.zed
/ecobank-api/.phpactor.json

# Système
.DS_Store
Thumbs.db
*.log

# Fichiers Laravel IDE Helper
/ecobank-api/_ide_helper.php
/ecobank-api/_ide_helper_models.php
/ecobank-api/.phpstorm.meta.php
/ecobank-api/_laravel_ide/
